<div class="center-card">
  <mat-card appearance="outlined">
    <mat-card-header class="center-header">
      <mat-card-title>Rocky Mountain Poker Venues - POKER SIGN IN SHEET</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="header-fields">
      <div class="header-field">
        <span>Venue:</span>
        <app-autocomplete-field [control]="venueControl" [options]="venues"></app-autocomplete-field>
      </div>
      <div class="header-field header-field--right">
        <span>Date:</span>
        <mat-form-field class="small" appearance="fill">
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
