mat-card {
  margin: 20px;
  padding: 20px 20px 120px;
}

@media print {
  mat-card {
    box-shadow: none !important;
    border: none !important;
    page-break-inside: avoid;
  }

  mat-divider {
    display: none !important;
  }
}
