<mat-card appearance="outlined">
  <div class="column-headers">
    <span>First Game</span>
    <span>First Game</span>
    <span>Second Game</span>
  </div>
  <mat-divider></mat-divider>
  <div class="columns">
    <div class="column">
      @for (num of firstGame; track $index; let i = $index) {
        <app-autocomplete-field [number]="num" [control]="data.column1[i]" [options]="names"></app-autocomplete-field>
      }
    </div>
    <div class="column">
      @for (num of secondGame; track $index; let i = $index) {
        <app-autocomplete-field [number]="num" [control]="data.column2[i]" [options]="names"></app-autocomplete-field>
      }
    </div>
    <div class="column">
      @for (num of firstGame; track $index; let i = $index) {
        <app-autocomplete-field [number]="num" [control]="data.column3[i]" [options]="names"></app-autocomplete-field>
      }
    </div>
  </div>
</mat-card>
