<mat-card appearance="outlined">
  <div class="column-headers">
    <span>First Game</span>
    <span>First Game</span>
    <span>Second Game</span>
  </div>
  <mat-divider></mat-divider>
  <div class="columns">
    <div class="column">
      <app-autocomplete-field
        *ngFor="let num of firstGame; let i = index"
        [number]="num"
        [control]="data.column1[i]"
        [options]="names">
      </app-autocomplete-field>
    </div>
    <div class="column">
      <app-autocomplete-field
        *ngFor="let num of secondGame; let i = index"
        [number]="num"
        [control]="data.column2[i]"
        [options]="names">
      </app-autocomplete-field>
    </div>
    <div class="column">
      <app-autocomplete-field
        *ngFor="let num of firstGame; let i = index"
        [number]="num"
        [control]="data.column3[i]"
        [options]="names">
      </app-autocomplete-field>
    </div>
  </div>
</mat-card>
